<p id="notice"><%= notice %></p>

<p>
  <strong>Sso:</strong>
  <%= @team.sso %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @team.url %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
