<%- model_class = Business -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @business.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @business.description %>&nbsp;</dd>
  <dt><strong>Applications:</strong></dt>
  <dd>
    <ul>
      <% if @applications != nil %>
        <% @applications.each do |app| %>
        <li><%= link_to app.name, application_path(app)  %></li>
        <% end %>
      <% end %>
    </ul>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              businesses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_business_path(@business), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              business_path(@business),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
