<%= simple_form_for @application, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :ci_name %>
  <%= f.input :live %>
  <%= f.input :added_on %>
  <%= f.input :ticket %>
  <%= f.input :url %>
  <%= f.association :team %>
  <%= f.association :server %>
  <%= f.association :environment %>
  <%= f.association :business %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                applications_path, :class => 'btn' %>
  </div>
<% end %>
