<%= simple_form_for @server, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :ip %>
  <%= f.input :fully_supported %>
  <%= f.input :middleware_audit %>
  <%= f.input :domain %>
  <%= f.input :cpu %>
  <%= f.input :memory %>
  <%= f.input :storage %>
  <%= f.input :added_on %>
  <%= f.input :ticket %>
  <%= f.association :environment %>
  <%= f.association :network %>
  <%= f.association :team %>
  <%= f.association :os %>
  <%= f.association :use %>
  <%= f.association :datacenter %>
  <%= f.association :support %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                servers_path, :class => 'btn' %>
  </div>
<% end %>
