<%- model_class = Server -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @server.name %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:ip) %>:</strong></dt>
  <dd><%= @server.ip %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:fully_supported) %>:</strong></dt>
  <dd><%= @server.fully_supported %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:middleware_audit) %>:</strong></dt>
  <dd><%= @server.middleware_audit %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:domain) %>:</strong></dt>
  <dd><%= @server.domain %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:cpu) %>:</strong></dt>
  <dd><%= @server.cpu %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:memory) %>:</strong></dt>
  <dd><%= @server.memory %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:storage) %>:</strong></dt>
  <dd><%= @server.storage %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:added_on) %>:</strong></dt>
  <dd><%= @server.added_on %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:ticket) %>:</strong></dt>
  <dd><%= @server.ticket %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:environment_id) %>:</strong></dt>
  <dd><%= @server.environment.name if @server.environment %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:network_id) %>:</strong></dt>
  <dd><%= @server.network.name if @server.network %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:team_id) %>:</strong></dt>
  <dd><%= link_to( @server.team.name, server_path(@server.team_id)) if @server.team %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:os_id) %>:</strong></dt>
  <dd><%= @server.os.name if @server.os %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:use_id) %>:</strong></dt>
  <dd><%= @server.use.name if @server.use %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:datacenter_id) %>:</strong></dt>
  <dd><%= link_to( @server.datacenter.name, datacenter_path(@server.datacenter_id)) if @server.datacenter %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:support_id) %>:</strong></dt>
  <dd><%= link_to( @server.support.name, support_path(@server.support_id)) if @server.support %>&nbsp;</dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              servers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_server_path(@server), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              server_path(@server),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
